<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AesTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CryptoKit-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CryptoKit-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CryptoKit-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CryptoKit-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Example-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Example-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RsaTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F54720A12242118F000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F54720AE22421244000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F54720BB22421276000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F54720C822421371000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F547212D22422329000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F547213C22422366000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F547214B22422386000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5472161224250B9000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F54721772242680C000EBC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F55967872242A6490000368C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F559679A2242A68C0000368C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F59CED74223D914E007CF454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D857AA223CF081003350B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D85868223D6F3D003350B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
